div.navbar.navbar-default.navbar-fixed-top
  div.container
    -
      var leftList = [
        ['Home', '/'], 
        ['Comments', '/comments'], 
        ['User', [
          ['Login', '/login'], 
          ['SignUp', '/login/signup']
          ]
        ]
      ]
    div.navbar-header
      a.navbar-brand(href='/')
        | XBH
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbar-main')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    div#navbar-main.navbar-collapse.collapse
      ul.nav.navbar-nav
        each menuItem in leftList
          - if (typeof menuItem[1] === 'string')
            li
              a(href='#{menuItem[1]}')
                | #{menuItem[0]}
          - else
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown' href="#" id='#{menuItem[0]}')
                | #{menuItem[0]}
                span.caret
              ul.dropdown-menu(aria-labelledby='#{menuItem[0]}')
                each subMenuItem in menuItem[1]
                  li
                    a(href='#{subMenuItem[1]}')
                      | #{subMenuItem[0]}

      ul.nav.navbar-nav.navbar-right
