div.navbar.navbar-default.navbar-fixed-top
  div.container
    -
      var leftList = [['Home', '/#/timeline'], ['User', '/users']]
      //var leftList = [
      //  ['Home', '/'], 
      //  ['Comments', '/comments'], 
      //  ['User', [
      //    ['Login', '/login'], 
      //    ['SignUp', '/login/signup']
      //    ]
      //  ]
      //]
    div.navbar-header
      if user
        a.navbar-brand(href='/#/timeline')
          | TasteOf
      else
        a.navbar-brand(href='/#/timeline' ng-if='user != null')
          | TasteOf
        a.navbar-brand(href='/#/visitor' ng-if='user == null')
          | TasteOf

      button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbar-main')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    div#navbar-main.navbar-collapse.collapse
      div(ng-controller='LoginController' ng-init="init(#{JSON.stringify(user)})")
      ul.nav.navbar-nav(ng-if='user != null')
        each menuItem in leftList
          - if (typeof menuItem[1] === 'string')
            li
              a(href='#{menuItem[1]}')
                | #{menuItem[0]}
          - else
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown' href="#" id='#{menuItem[0]}')
                | #{menuItem[0]}
                span.caret
              ul.dropdown-menu(aria-labelledby='#{menuItem[0]}')
                each subMenuItem in menuItem[1]
                  li
                    a(href='#{subMenuItem[1]}')
                      | #{subMenuItem[0]}

      if user
        ul.nav.navbar-nav.navbar-right
          include _header_right.jade

      else
        ul.nav.navbar-nav.navbar-right(ng-if='user != null')
          include _header_right.jade
        
        ul.nav.navbar-nav.navbar-right(ng-if='user == null')
          li
            a(href='/login/signup')
              | Signup
          li
            a(data-toggle='modal' data-target='#loginModal')
              | Login 

  if !user
    div.container#loginModal.modal.fade(login-model role='dialog' ng-controller='LoginController' ng-init="init(#{JSON.stringify(user)})")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button" data-dismiss="modal")
             | &times;
            div.modal-title
              h2 Login
          div.modal-body
            div.central
              form.form-horizontal
                div.form-group
                  label.control-label(for='inputUsername') Username:
                  div
                    input#inputUsername.form-control(type='text' placeholder='Username' ng-model='username')
              form.form-horizontal
                div.form-group
                  label.control-label(for='inputUsername') Password:
                  div
                    input#inputUsername.form-control(type='password' placeholder='Password' ng-model='password')
              form.form-horizontal
                div.form-group
                  label.control-label(for='inputRememberMe') Remember Me:
                  div
                    input#inputRememberMe.form-control(type='checkbox' ng-model='rememberMe')
              div.alert.alert-danger(ng-if='err != null')
                {{err}}

          div.modal-footer
            button.btn.btn-default(type="button" ng-click='login()') Login
  else
