div.navbar.navbar-default.navbar-fixed-top
  div.container
    -
      var leftList = [['Home', '/#/timeline']]
    div.navbar-header
      if user
        a.navbar-brand(href='/#/timeline')
          | TasteOf
      else
        a.navbar-brand(href='/#/timeline' ng-if='user != null')
          | TasteOf
        a.navbar-brand(href='/#/visitor' ng-if='user == null')
          | TasteOf

      button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbar-main')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    div#navbar-main.navbar-collapse.collapse
      div(ng-controller='LoginController' ng-init="init(#{JSON.stringify(user)})")
      ul.nav.navbar-nav(ng-if='user != null')
        each menuItem in leftList
          - if (typeof menuItem[1] === 'string')
            li
              a(href='#{menuItem[1]}')
                | #{menuItem[0]}
          - else
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown' href="#" id='#{menuItem[0]}')
                | #{menuItem[0]}
                span.caret
              ul.dropdown-menu(aria-labelledby='#{menuItem[0]}')
                each subMenuItem in menuItem[1]
                  li
                    a(href='#{subMenuItem[1]}')
                      | #{subMenuItem[0]}

      if user
        ul.nav.navbar-nav.navbar-right
          include _header_right.jade

      else
        ul.nav.navbar-nav.navbar-right(ng-if='user != null')
          include _header_right.jade
        
        ul.nav.navbar-nav.navbar-right(ng-if='user == null')
          li
            a(href='/login/signup')
              | Signup
          li
            a(data-toggle='modal' data-target='#loginModal')
              | Login 

  if !user
    div.container#loginModal.modal.fade(login-model role='dialog' ng-controller='LoginController' ng-init="init(#{JSON.stringify(user)})")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button" data-dismiss="modal")
             | &times;
            div.modal-title
              h2 Login
          div.modal-body
            div.central
              div.row
                div.col-xs-2
                div.col-xs-8
                  form.form-horizontal
                    div.form-group
                      label.control-label(for='inputUsername') Username:
                      div
                        input#inputUsername.form-control(type='text' placeholder='Username' ng-model='username' ng-keyup='keyEventHandler("login.username", $event)')
                  form.form-horizontal
                    div.form-group
                      label.control-label(for='inputPassword') Password:
                      div
                        input#inputPassword.form-control(type='password' placeholder='Password' ng-model='password' ng-keyup='keyEventHandler("login.password", $event)')
                  form.form-horizontal
                    div.form-group
                      label.control-label(for='inputRememberMe') Remember Me:
                      div
                        input#inputRememberMe.form-control(type='checkbox' ng-model='rememberMe' ng-keyup='keyEventHandler("login.rememberme", $event)')
                  div.alert.alert-danger(ng-if='err != null')
                    {{err}}
                div.col-xs-8

          div.modal-footer
            button.btn.btn-default(type="button" ng-click='login()') Login
  else
