div.row
  div.col-xs-2
  div.col-xs-10
    h1
      | TasteOf is your delicious social network!
    hr
    h2 
      | Please 
      a(data-toggle='modal' data-target='#loginModal') login

    p 
      | By 
      a(data-toggle='modal' data-target='#loginModal') login 
      | or 
      a(href='/login/signup') create new account
      | , you can explore the network of delicious!

    h2 What's happening here:

    hr
    h4
      | #{newUsers.length} new user joined in past #{pastDays} Days:
    each newUser in newUsers
      div.row
        div.col-xs-1
        div.col-xs-10
          hr
          div.row
            div.col-xs-2
              img.visitor-new-user-img(src="#{newUser.local.imageUrl || '/img/default-avatar.png'}")
            div.col-xs-10
              | #{newUser.local.username}
        div.col-xs-1

    hr
    h4
      | #{newTweets.length} new tweets posted in past #{pastDays} Days:
    each newTweet in firstnelements(10, newTweets)
      div.row
        div.col-xs-1
        div.col-xs-10
          hr
          div.row
            div.col-xs-2
              img.visitor-new-user-img(src="#{newTweet.user_id.local.imageUrl || '/img/default-avatar.png'}")
            div.col-xs-2
              | #{newTweet.user_id.local.username}
            div.col-xs-8
              | #{newTweet.tweet_id.content}
        div.col-xs-1

    hr
    h4
      | #{newRecipes.length} new recipes posted in past #{pastDays} Days:
    each newRecipe in firstnelements(10, newRecipes)
      hr
      div.row
        div.col-xs-1
        div.col-xs-10
          hr
          div.row
            div.col-xs-2
              img.visitor-new-user-img(src="#{newRecipe.user_id.local.imageUrl || '/img/default-avatar.png'}")
            div.col-xs-2
              | #{newRecipe.user_id.local.username}
            div.col-xs-8
              | #{newRecipe.recipe_id.recipeName}
        div.col-xs-1

    h2
      strong
        | To All Users:
    p
      strong
        | This site is still under development, if you visiting this site hosted on openshift, I can't guarantee that I won't delete your account for development purpose.
        | After I decided not to delete any account, I'll remove this line.
  div.col-xs-2
